.seriesArea{
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
}
.container-config{
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.pagination .page-link {
    background: rgb(66, 66, 66);
    color: white;
    border:0.1px solid rgb(141, 141, 141) !important;
}

.page-link:hover{
    background-color: rgb(146, 146, 146) !important;
    color: white !important;
}

.active>.page-link, .page-link.active {
    background-color: #8b8b8b!important;
}
.disabled>.page-link{
    display: none !important;
}